@import url('https://fonts.googleapis.com/css2?
family=Inter:opsz,wght@8..144,100..900&
family=Roboto:wdth,wght@75..100,100..900&
family=Poppins:wght@100..900&
family=Montserrat:wght@100..900&
family=Nunito:wght@200..1000&
family=DM+Sans:wght@400..1000&
family=Playfair+Display:wght@400..900&
family=Exo+2:wght@100..900&
family=Orbitron:wght@400..900&
family=Rubik:wght@300..900&
family=Raleway:wght@100..900&
family=Source+Sans+3:wght@200..900&
family=Titillium+Web:wght@200..900&
family=Rajdhani:wght@300..700&
family=Fira+Sans:wght@100..900&
family=Mulish:wght@200..1000&
family=Work+Sans:wght@100..900&
family=Archivo:wght@100..900&
family=Kanit:wght@100..900&
family=Manrope:wght@200..800&
display=swap');
